*{
    margin: 0;
    padding: 0;
    background-color: #C0C0C0;
}

.meny{
    height: 10vh;

    display: flex;
    align-items: center;

    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: black;
}

#logotyp{
    margin-left: 5vw;
}

.row{
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
}

.storsäljare{
    display: flex;
    justify-content: center;
    background-color: #303030;
}

.produktbild{
    margin: 20px;
    padding: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between 50px 50px; 

    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
}

.produkter{
    margin: 20px;
    padding: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between 50px 50px; 

    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
}

.produktbild > img{
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
}

.produkter > img{
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
}

#rubrik1{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    height: 100px;
    position:static;
    bottom: 0;
    width: 100%;

    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: #7B7B7B;
}
#funny{
    float: right;
    height: 10%;
    width: 1%;
}
.produktbild>p{
    background-color: black;
}

.produkter>p{
    background-color: black;
}

.storsäljare>h1{
    background-color: #303030;
    color: orange;
}
.container{
    background-color: black;
}   
html{
    background-color: #303030;
}
.logga{
    width: 10vh;
    background-color: black;
}

.butikerh1{
    margin: 0;
    background-color: #303030;
    color: white;
}

.butikerh3{
    margin: 0;
    background-color: #303030;
    color: white;
}